@using CV_Udemy.Models.Entity

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Admin Ekleme Sayfası</h4>

<form class="form-group" method="post">
    <input type="text" name="Username" class="form-control" placeholder="Kullanıcı Adı" />
    <br />
    <input type="password" name="Password" class="form-control" placeholder="Şifre" />
    <br />
    
    <button class="btn btn-info">Ekle</button>

</form>

