@using CV_Udemy.Models.Entity
@model List<TBL_Certificate>
    
<div class="resume-section-content">
    <h2 class="mb-5">Ödüller & Sertifikalar</h2>
   
        <ul class="fa-ul mb-0">
            @foreach (var item in Model)
            {
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    @item.Number - @item.Certificate
                </li>
            }
        </ul>

</div>

