@using CV_Udemy.Models.Entity
@model List<TBL_SocialMedia>


<div class="social-icons">
    @foreach (var item in Model)
    {
        <a class="social-icon" href="@item.Link"><i class="@item.Icon"></i></a>

    }
</div>

